@{
    ViewData["Title"] = "Galeria";
}

<section id="gallery">
    <div class="gallery1">
        <a href="https://drive.google.com/file/d/1b232zazeWisk9niNOV7aeF9x-c7MpAPg/view?usp=sharing" target="_blank"><img id="gallerypic1" src="~/images/gallery/gallery1.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1tSD3FdSrLWL4tTAvJQzbLGWTdXH-1BJ2/view?usp=sharing" target="_blank"><img id="gallerypic2" src="~/images/gallery/gallery2.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1UA9QhMvM5_hDwHJnbdi46MbeY8m8UK50/view?usp=sharing" target="_blank"><img id="gallerypic3" src="~/images/gallery/gallery3.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>
    </div>
    <div id="gallery2">
        <a href="https://drive.google.com/file/d/198hiBGyu727pdoa0sdYLTFEFlf1NVARu/view?usp=sharing" target="_blank"><img id="gallerypic4" src="~/images/gallery/gallery4.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1h7tjfUs23X4CirDxJ5iPkcZLqr0U0vZW/view?usp=sharing" target="_blank"><img id="gallerypic5" src="~/images/gallery/gallery5.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1Xh9VXpdw7OSm-J3dTQRhPDV8RcfGIFsX/view?usp=sharing" target="_blank"><img id="gallerypic6" src="~/images/gallery/gallery6.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>
    </div>
    <div id="gallery3">
        <a href="https://drive.google.com/file/d/1zW9p7yBfPNHo-P4ADn9RBDLrN_hdzbDY/view?usp=sharing" target="_blank"><img id="gallerypic8" src="~/images/gallery/gallery8.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1yT3aUk59E5sDptHmTScQZFnI2UTzmtGi/view?usp=sharing" target="_blank"><img id="gallerypic7" src="~/images/gallery/gallery7.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/11OJvz9EmPopLYOOzXoschnpjFkvdAaso/view?usp=sharing" target="_blank"><img id="gallerypic9" src="~/images/gallery/gallery9.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>
    </div>
    <div id="gallery4">
        <a href="https://drive.google.com/file/d/1b232zazeWisk9niNOV7aeF9x-c7MpAPg/view?usp=sharing" target="_blank"><img id="gallerypic10" src="~/images/gallery/gallery11.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1ixOLBpCWoY3MO53ieZYZsCFUhU6SAGDx/view?usp=sharing" target="_blank"><img id="gallerypic11" src="~/images/gallery/gallery10.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/19k-kVPI5Ieskjc7BL9Jq5BUnKgyLbKMV/view?usp=sharing" target="_blank"><img id="gallerypic12" src="~/images/gallery/gallery12.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

    </div>
    <div id="gallery5">
        <a href="https://drive.google.com/file/d/19Q5i75COMWT3Kb2KeTPAYEswCHG_OVRp/view?usp=sharing" target="_blank"><img id="gallerypic13" src="~/images/gallery/gallery14.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>

        <a href="https://drive.google.com/file/d/1ibrP730sa_qUen35fv1Wb5JBG0z-3ZtK/view?usp=sharing" target="_blank"><img id="gallerypic14" src="~/images/gallery/gallery13.jpg" alt="tekst wyświetlany zamiast zdjęcia przy problemach" /></a>


    </div>
    <div id="gallery6">
    </div>
    <div id="gallery7">
    </div>
    <div id="gallery8">
    </div>
    <div id="gallery9">
    </div>
    <div id="gallery10">
    </div>
    <div id="gallery11">
    </div>
    <div id="gallery12">
    </div>
    <div id="gallery14"></div>
    <div id="gallery15"></div>
    <div id="gallery16"></div>
    <div id="gallery17"></div>
    <div id="gallery18"></div>
    <div id="gallery19"></div>
    <div id="gallery20"></div>
    <div id="gallery21"></div>
    <div id="gallery22"></div>
    <div id="gallery23"></div>
    <div id="gallery24"></div>
    <div id="gallery25"></div>
    <div id="gallery26"></div>
    <div id="gallery27"></div>
    <div id="gallery28"></div>
    <div id="gallery29"></div>
    <div id="gallery30"></div>
    <div id="gallery31"></div>
    <div id="gallery32"></div>
</section>
