@{
    ViewData["Title"] = "Home Page";
}

<section id="body">
    <span id="bars">Instalacje elektryczne &emsp;&emsp;/&emsp;&emsp; Alarmowe &emsp;&emsp;/&emsp;&emsp; TV/SAT/DVB-T &emsp;&emsp;/&emsp;&emsp; Domofonowe &emsp;&emsp;/&emsp;&emsp; Automatyka bramowa &emsp;&emsp;/&emsp;&emsp; Telewizja przemysłowa CCTV </span>
</section>
