@{
    ViewData["Title"] = "Galeria";
}

<section id="body">
    <div class="partner">
        <img src="~/images/partnerzy/ropam.jpg" class="partnerimg" />
        <span id="tekst1">Ropam Elektronik od samego początku kładł duży nacisk na jakość i funkcjonalność swoich urządzeń, dlatego wszystkie etapy produkcji podlegają skrupulatnej kontroli, począwszy od wyboru dostawcy komponentów, na testach funkcjonalnych kończąc.</span>
        <hr>
    </div>

    <div class="partner">
        <img src="~/images/partnerzy/ATTE_LOGO_MENU.png" class="partnerimg" />
        <span id="tekst1">ATTE Power to polski producent systemów zasilania i transmisji dedykowanych dla telewizji przemysłowej CCTV oraz branży security.</span>
        <hr>
    </div>
    <div class="partner">
        <img src="~/images/partnerzy/tousek_logo_reduziert-300x32.png" class="partnerimg" />
        <span id="tekst1">Firma TOUSEK została założona w 1974 roku przez Eduarda Tousek w Austrii. Firma produkuje pewne, bezpieczne i innowacyjne napędy do bram skrzydłowych, przesuwnych i garażowych. Jakość, wyjątkowa długowieczność i najnowocześniejsza elektronika są najważniejszymi cechami produktów firmy TOUSEK.</span>
        <hr>
    </div>
    <div class="partner">
        <img src="~/images/partnerzy/log-elek-222x74.png" class="partnerimg" />
        <span id="tekst1">Od początku swojej działalności zajmujemy się kompleksowym zaopatrzeniem elektroinstalatorów oraz inwestycji w materiały elektryczne. Nasza wyspecjalizowana kadra solidnie i profesjonalnie doradzi, podpowie a często również zaprojektuje rozwiązania według potrzeb klienta. </span>
        <hr>
    </div>
    <div class="partner">
        <img src="~/images/partnerzy/logo-napad.svg" class="partnerimg" />
        <span id="tekst1">Firma Alarm-Tech Systemy Zabezpieczeń s.c. na rynku funkcjonuje już od 1999 roku. Jesteśmy jednym z największych dystrybutorów i importerów systemów zabezpieczeń w Polsce.</span>
        <hr>
    </div>
    <div class="partner">
        <img src="~/images/partnerzy/marpollogo-72x72.png" class="partnerimg" />
        <span id="tekst1">Cechuje nas doświadczenie i wiedza, dzięki którym z pasją tworzymy systemy ogrodzeniowe, służące przez długie lata. Zapraszamy do kontaktu, nasi pracownicy służą profesjonalnym doradztwem w wyborze najlepszych rozwiązań.</span>
        <hr>
    </div>
    <div class="partner">
        <img src="~/images/zaufali_nam/ph-logo-loxone-green.jpg" class="partnerimg" />
        <span id="tekst1">Automatyka budynkowa Loxone. Na początku tylko inteligentnych domów, dzisiaj wszelkiego rodzaju projektów – od domów prywatnych przez hotele po apartamentowce. Za pomocą Loxone można zautomatyzować wszystko.</span>
        <hr>
    </div>
</section>